<!DOCTYPE html>
<html ng-app="iwApp">
<head>
<meta charset="ISO-8859-1">

<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/app/resources.css">
<link rel="stylesheet" type="text/css" href="../css/ngDialog-theme-default.css">
<link rel="stylesheet" type="text/css" href="../css/ngDialog.css">
<script src="../js/angular.js"></script>
<script src="../js/angular-route.js"></script>
<script src="../js/angular-cookies.js"></script>
<script src="../js/jquery-1.11.1.js"></script>
<script src="../js/modules/myModule.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/ngDialog.js"></script>

<title>Crear Solicitud</title>
</head>
<body ng-controller="ctrlrSolicitudes"
	data-ng-init="consultarSolicitudesAbiertas()">
	<div class="container">
		<header>
			<h3 class="text-muted">CREACIÓN DE SOLICITUD</h3>
			<div id="images" class="row">
				<div class="col-lg-12 media">
					<img class="media-object" src="../images/encabezado-min.PNG">
				</div>
			</div>
		</header>

		<br>
		<div class="col-sm-7 ">
			<label>Nombre</label> <input type="text" class="form-control"
				ng-model="idSolicitudADelegar" name="idSolicitudADelegar"
				placeholder="Ingrese su nombre" required /> <br>
				
			<label>E-mail</label> <input type="text" class="form-control"
				ng-model="dniAnalistaDelegado" name="dniAnalistaDelegado"
				placeholder="Ingrese su e-mail" required /> <br>
				
			<button type="button" class="btn btn-primary btn-lg btn-group"
				ng-click="delegarSolicitud()">
				<span class="glyphicon glyphicon-ok"></span> Generar Solicitud
			</button>
		</div>
	</div>
	
</body>
</html>