<!DOCTYPE html>
<html ng-app="iwApp">
<head>
<meta charset="UTF-8">

<script src="resources/js/angular.js"></script>
<script src="resources/js/modules/myModule.js"></script>
<script src="resources/js/angular-route.js"></script>
<script src="resources/js/angular-cookies.js"></script>

<title>Insert title here</title>
</head>
<body>

	<div ng-controller="ctrlrSolicitudes">
		<h1>CONSULTAR SOLICITUD</h1>
		ID: <input type="text" ng-model="idSolicitud" name="idSolicitud" /> <input
			type="button" value="buscar" ng-click="consultarSolicitud()" /><br />

		{{"ID: " + solicitud.id}}

			<p ng-repeat="s in solicitudes">{{"Solicitud con id: "+ s.id}}</p>


		<h1>SOLICITUDES ABIERTAS</h1>
		<input type="button" value="buscar por Estados"
			ng-click="consultarSolicitudesAbiertas()" />
			<p >{{"Solicitud con id: "+ solicitud.id}}</p>
			<p >{{"Solicitud con tipo: "+ solicitud.tipo}}</p>
		<p ng-repeat="s in solicitudes">{{"Solicitud con id: "+ s.id}}</p>

		<h1>SOLICITUDES POR ANALSITA</h1>
		<input type="text" ng-model="dniAnalista" name="dniAnalista" /> <input
			type="button" value="buscar"
			ng-click="consultarSolicitudesPorAnalista()" />
		<p ng-repeat="sA in solicitudesDeAnalista">{{"Solicitud con id:" +
			sA.id}}</p>

		<h1>DELEGAR SOLICITUD</h1>
		ID SOLICITUD: <input type="text" ng-model="idSolicitudADelegar"
			name="idSolicitudADelegar" /> DNI ANALISTA: <input type="text"
			ng-model="dniAnalistaDelegado" name="dniAnalistaDelegado" /> <input
			type="button" value="Delegar" ng-click="delegarSolicitud()" />
		<p>{{"SOLICITUD DELEGADA: " + solicitudDelegada}}</p>
	</div>

	<div ng-controller="ctrlrProductos">
		<h1>PRODUCTOS</h1>
		<input type="button" value="Consultar Productos"
			ng-click="consultarProductos()" />
		<p ng-repeat="p in productos">{{"ID :"+ p.codigo}} {{"NOM: " +
			p.nombre}}</p>
	</div>
	<div ng-controller="ctrlrAnalistas">
		<h1>ANALISTAS</h1>
		<input type="button" value="Consultar Analistas"
			ng-click="consultarAnalistas()" />
		<p ng-repeat="a in analistas">{{"DNI: " + a.dni}}{{"NOM: " +
			a.nombre}}</p>
	</div>

	<div ng-controller="ctrlrSolicitudes">
		TIPO: <input type="text" ng-model="solicitudWS.tipo" /> DESCRIPCION: <input
			type="text" ng-model="solicitudWS.descripcion" /> NOMBRE CLIENTE: <input
			type="text" ng-model="solicitudWS.nombreCliente" /> TIPO DOCUMENTO: <input
			type="text" ng-model="solicitudWS.tipoDocumento" /> EMAIL CLIENTE: <input
			type="text" ng-model="solicitudWS.emailCliente" /> COD PRODUCTO: <input
			type="text" ng-model="solicitudWS.codigoProducto" /> DNI ANALISTA: <input
			type="text" ng-model="solicitudWS.dniAnalista" /> <input
			type="button" value="Guardar" ng-click="realizarSolicitud()" />
		<p>{{"SOLICITUD REALIZADA: " + solicitudRealizada + " ID: " + idSolicitudRealizada}}
		<p ng-repeat="analista in analistas">{{analista.dni}}</p>
	</div>
</body>
</html>