<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="resources/css/app/resources.css">
<link rel="stylesheet" type="text/css" href="../css/ngDialog-theme-default.css">
<link rel="stylesheet" type="text/css" href="../css/ngDialog.css">
<script src="../js/angular.js"></script>
<script src="../js/angular-route.js"></script>
<script src="../js/angular-cookies.js"></script>
<script src="../js/jquery-1.11.1.js"></script>
<script src="../js/modules/myModule.js"></script>
<script src="../js/bootstrap.min.js"></script>

<script src="../js/ngDialog.js"></script>

<title>Mis Solicitudes</title>
</head>
<body ng-controller="ctrlrSolicitudes">

	<div class="container">
		<header>
			<h3 class="text-muted">Mis Solicitudes</h3>
		</header>
	</div>
	<div class="container">
		<div id="images" class="row">
			<img class="media-object" src="resources/images/encabezado-min.PNG">
		</div>
 <form name="userForm" >
		<div class="form-group col-lg-8">
			<br><label>DNI</label> 
			<input type="text" name="DNI" class="form-control" ng-model="dniAnalista" placeholder="Ingrese su DNI" required>
			<br><button type="button" class="btn btn-primary btn-block"
				ng-click="consultarSolicitudesPorAnalista(dniAnalista)">
				<span class="glyphicon glyphicon-search"></span>Consultar
			</button>
		</div>
		
		<div>
			<br>
			<br> <br><br><br>
			<table border="1" style="width: 300px" style="align: right">
				<thead>
					<tr>
					<td>ID Solicitud</td>
					<td>Producto</td>
					<td>Sucursal</td>
					<td>Tipo Solicitud</td>
					<td>Descripción</td>
					<td>Nombre Cliente</td>
					<td>E-mail Cliente</td>
					</tr>
					</thead>
				<tbody ng:repeat="s in solicitudesDeAnalista">
					<tr>
						<td>{{s.id}}</td>
					<td>{{s.producto.nombre}}</td>
					<td>{{s.producto.sucursal.nombre}}</td>
					<td>{{s.tipo}}</td>
					<td>{{s.descripcion}}</td>
					<td>{{s.nombreCliente}}</td>
					<td>{{s.emailCliente}}</td>
					</tr>
				</tbody>
			</table>
			<div>
		

	<script type="text/ng-template" id="enviarError">
 		<div id="popup-error" name="enviarError">
	 		<h1>Error!. Lo sentimos :(</h1>
	  		<p>No fue posible consultar las solicitudes. Verifique que los datos son correctos</p>	
		</div>	
	</script>
		</div>
		</div>
		</form>
	</div>

</div>