body {
    padding: 10px;
}

.container {
    max-width: 550px;
}

.big-container{
    max-width: 550px;   
    margin: 40px auto 0 200px; 
}

.container header {
    border-bottom: 2px solid #E5E5E5;
}

#images {
    padding: 10px 0px;
    float: right;
}

table,th,td {
	border: 1px solid silver;
	border-collapse: collapse;
	text-align: center;
}

th,td {
	font-family: Arial; 
	font-size: 15px;
	padding: 15px;
}

thead {
	background-color: teal;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

table {
	font-family: Arial;
	border-spacing: 5px;
}


